.header {
    grid-area: h;
    background-color: rgb(74,118,168);
}

.header img {
    width: 40px;
    padding: 20px;
}
.loginBlock{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
.loginBlock a{
    color: white;
    text-decoration: none;
}
.colorLogin {
    color: white;
}
.loginBtn{
    position: absolute;
    margin-top: 25px;
    margin-left: -65px;
    background: transparent;
    border: solid 1px;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.mainPhotoSmall{
    width: 50px;
    height: 50px;
}
